@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin:0px;
  padding:0px;
}
#root{
  width: 100vw;
  height: 100vh;
  display:flex;
}
body{
  display:flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
} 

#header {
  font-size: large;
  margin:auto;
}

.nav {
  width:500px;
  display:flex;
  flex-direction: column;
}

.container{
  display:flex;
}

/* .nav ul a {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:grey;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
  width: 500px;
  text-align: center;
  margin-bottom:1%;
  border-radius: 1%;
} */
.nav ul a {
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	border: 1px solid white; /* Borde */
	background-color: #8c8c8c;
	text-align: center;  /* Alineación del texto */
	text-shadow: -1px -1px rgba(0,0,0,.2);  /* Sombra del texto */
	border-radius: 5px;  /* Bordes redondos */
	color: white;  /* Color del texto */
  padding:10px 12px;
  display:block;
  width: 500px;
  text-decoration:none;
}
.nav ul a:active /* Al presionarse el botón */ {
	text-shadow: 1px 1px rgba(0,0,0,.3);  /* Sombra del texto */
	background:#83072D;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}

.button-top{
  align-self:flex-start;
}

/* .nav ul a:hover {
  background-color:#83072D;
} */
.categories{
  display:flex;
  justify-content:space-between;
  padding: 1%;
  font-size:smaller;
  background-color: white;
}
.div-left{
  margin-left: 10%;
}
[type='checkbox'], [type='radio'] {
  color: #b31041;
}
.product-name{
  margin-left:10px;
}
.div-right{
  margin-right: 10%;
  font-size: smaller;
}
